.headers{
	position: fixed;
	z-index: 9;
}
.cont{
	position: relative;
	top:1rem;
	margin-top:0.24rem;
}
.cont .user,.cont .money,.cont .other{
	background: #fff;
}
.user div,.money div,.other div{
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	height: 1rem;
	line-height: 1rem;
}
.user div img,.money div img,.other div img{
	width: 0.7rem;
	height: 0.7rem;
	margin: 0.15rem 0.2rem;
}
.right{
	position: absolute;
	right: 0.8rem;
	color: #999;
	font-size: 0.28rem;
}
.right .level{
	width: 0.8rem;
	height: 0.5rem;
	margin-top: 0.25rem;
}
.mui-icon-arrowright{
	position: absolute;
	left: 6.7rem;
	margin-top:0.25rem;
	color: #666;
}

.money,.other{
	margin-top:0.24rem;
}
.other div:last-child{
	text-align: center;
	color: #8B80FE;
	margin-bottom: 0.24rem;
}



